{{ ansible_managed | comment }}

# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

font pango:monospace 10

bar {
  mode invisible
}

default_border none
hide_edge_borders both
workspace_layout tabbed
