#!/usr/bin/fish

{{ansible_managed|comment}}

systemctl --user --wait start pathappend.service

set -x XDG_SESSION_TYPE x11
systemctl --user import-environment XDG_SESSION_TYPE
systemctl --user import-environment XDG_SESSION_ID
exec systemctl --user start --wait xsession.target
