#!/usr/bin/fish
{{ ansible_managed | comment }}

{% if workspaces[workspace].type == "vdesk" %}

xtigervncviewer localhost:{{workspaces[workspace].display|default(home_vdesk_display_number)}} -via {{workspaces[workspace].host}} -PasswordFile ~/.vnc/passwd.{{workspaces[workspace].host}}

{% elif workspaces[workspace].type == "tmux" %}

urxvt -title tmux-workspace -e fish -c 'ssh -t {{workspaces[workspace].host}} tmux attach -d -t {{workspaces[workspace].session}}'

{% endif %}
