#!/usr/bin/fish
{{ ansible_managed | comment }}

{% if workspaces[workspace].type is defined %}
{% if workspaces[workspace].type == "vncviewer" %}
i3-msg mode remote
{% endif %}
{% endif %}

{% if workspaces[workspace].activity is defined %}
{% if workspaces[workspace].activity %}
~/bin/timer begin_activity "{{workspaces[workspace].activity}}"
{% else %}
~/bin/timer end_activity
{% endif %}
{% endif %}
