{{ ansible_managed | comment }}

[Unit]
Description=append home directory paths to PATH environment variable

[Service]
Type=oneshot
ExecStart=fish -c "for np in ~/.local/bin ~/bin; if not contains $np $PATH; set -x PATH $np $PATH; end; end; systemctl --user import-environment PATH"

[Install]
WantedBy=default.target
