#!/usr/bin/make -f

include /usr/share/blends-dev/rules

override_dh_auto_clean:
	# Skip make clean - no Makefile needed for this project

override_dh_auto_build:
	# Skip make - no Makefile needed for this project

override_dh_auto_install:
	# Skip make install - no Makefile needed for this project
