{{ ansible_managed | comment }}

[Unit]
Description=Screensaver
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock -l -- xsecurelock
EnvironmentFile=%h/.lockscreen.env
Environment="XSECURELOCK_SAVER=%h/.screensaver.sh"
Restart=always

[Install]
WantedBy=graphical-session.target
