{{ ansible_managed | comment }}

#XSECURELOCK_SAVER=$HOME/bin/screensaver
XSECURELOCK_AUTH_BACKGROUND_COLOR={{home_base_color_hue|hsv2rgb(66,47)}}
XSECURELOCK_SWITCH_USER_COMMAND=dm-tool switch-to-greeter
