[Desktop Entry]
Name=maintenance
Comment=maintenance xsession
Exec=/usr/local/share/maintenance/xsession
Type=Application
X-LightDM-DesktopName=maintenance
DesktopNames=maintenance
Keywords=wm;windowmanager;window;manager;
