[defaults]
nocows = 1
stdout_callback = yaml

library = /usr/share/ansible/modules

{% if ansible_use_mitogen %}
strategy_plugins = {{ _ansible_mitogen_location.stdout }}/plugins/strategy
strategy = mitogen_linear
{% endif %}

retry_files_enabled = False

{% if ansible_use_ara %}
callback_plugins = {{ _ara_location.stdout }}/plugins/callbacks
{% endif %}

{% if not ansible_use_mitogen %}
[ssh_connection]
{% if ansible_use_ssh_pipelining %}
pipelining = True
{% endif %}
{% endif %}
