#!/bin/bash
xset -dpms
xset s off
exec yad --no-buttons --no-escape --image=emblem-system --text="Dieser Computer befindet sich derzeit im Wartungsmodus. Bitte nicht abschalten!" --image-on-top --center --borders 50
