#!/bin/bash
{{ ansible_managed | comment }}
xset -dpms
xset s off
xbindkeys -f /usr/local/share/mainentance/xbindkeys &
exec yad --no-buttons --no-escape --image-on-top --center --borders 50 --image="{{display_manager_mainentance_icon}}" --text="{{display_manager_mainentance_text}}"
