[Desktop Entry]
Name=mainentance
Comment=mainentance xsession
Exec=/usr/local/share/mainentance/xsession
Type=Application
X-LightDM-DesktopName=mainentance
DesktopNames=mainentance
Keywords=wm;windowmanager;window;manager;
