section: screens
	rana:
	tilixi:
	lixy:
	viny:
end

section: aliases
end

section: links
	rana:
		right = tilixi
		down = lixy
	tilixi:
		left = rana
		down = viny
	lixy:
		right = viny
		up = rana
	viny:
		left = lixy
		up = tilixi
end

section: options
	screenSaverSync = true
	clipboardSharing = true
	keystroke(Alt+Control+Right) = switchInDirection(right)
	keystroke(Control+Alt+Left) = switchInDirection(left)
	keystroke(Alt+Control+Up) = switchInDirection(up)
	keystroke(Control+Alt+Down) = switchInDirection(down)
end
