section: screens
	rana:
	tilixi:
	lixy:
	viny:
end

section: aliases
end

section: links
	rana:
		right = tilixi
		down = lixy
	tilixi:
		left = rana
		down = viny
	lixy:
		right = viny
		up = rana
	viny:
		left = lixy
		up = tilixi
end

section: options
	clipboardSharing = true
end
