! {{ansible_managed}}

! DPI
Xft.dpi: {{home_xft_dpi}}

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! set fonts
URxvt.font:xft:Monospace:pixelsize=15
URxvt.boldfont:xft:Monospace-Bold:pixelsize=15

! set colors
URxvt*background: black
URxvt*foreground: white

! save number lines in the scrollback buffer
URxvt.saveLines: 10000

! disable scrollbar
URxvt*scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

{% if not ansible_lsb.id == "Raspbian" %}
! fake transparency
urxvt*transparent: true
urxvt*shading: 30
! https://bbs.archlinux.org/viewtopic.php?id=222070
URxvt*ineheritPixmap: true
{% endif %}
